<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>About Yashvant Yadav</h1>
    <h2>I am a developer who loves to sit all day and code with passion to develope applications in order to help our generation and achieve in the process.</h2>
    <h3>Name of the owner of this site is:</h3>
    <h1 th:text="${name}" ></h1>
    <h3>Current date is: </h3>
    <h1 th:text="${currentDate}" ></h1>
</body>
</html>